beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
esda==2.7.0
geopandas==1.1.1
idna==3.10
joblib==1.5.1
libpysal==4.13.0
numpy==2.3.1
packaging==25.0
pandas==2.3.0
platformdirs==4.3.8
pymannkendall==1.4.3
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
shapely==2.1.1
six==1.17.0
soupsieve==2.7
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
